body {
  background: url(maxresdefault.jpg) no-repeat;
  background: url(maxresdefault.jpg) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

@media (max-width: 700px) {
  body {
    text-align: center;
    display: block;
  }
}
